{% extends "core/includes/base.html"%}
{% block main %}
{{produto.nome}}
<div class="card" id="card_produto_detalhes">
  <div class="card-header">
    Detalhe Da Entrada
  </div>
  <div class="card-body">
 <div class="row">
          <div class="col">
              <span>Nota Fiscal:</span><br>
              {{objects.nf_formated}}
          </div>
          <div class="col">
              <span>Data:</span><br>
            {{objects.created}}
          </div>
          <div class="col">
              <span>Funcionario:</span><br>
              {{objects.funcionario}}
          </div>
      </div>
      <br>

         <div class="row">


              <table class="table">
  <thead>
    <tr>
      <th scope="col">Produto</th>
      <th scope="col">Fornecedor</th>
      <th scope="col">Quantidade</th>
      <th scope="col">Valor Unitario</th>
      </tr>
  </thead>
  <tbody>
  {% for obj in objects.estoques.all %}
    <tr>
      <th scope="row">{{obj.produto}}</th>
      <td>{{obj.produto.fornecedor}}</td>
      <td>{{obj.quantidade}}</td>
      <td>{{obj.valor_da_entrada}}</td>
    </tr>
   {% endfor %}
  </tbody>
</table>

         </div>
          <div class="col">


                 <a href="{% url 'home_estoque' %}" type="button" class="btn btn-outline-warning">Voltar</a>

          </div>


  </div>
</div>

{% endblock %}